body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('img/PaginaPrincipal.svg') no-repeat center center/cover;
    background-attachment: fixed;
    background-size: cover;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-content p {
    font-size: 1.5em;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #333;
}

.portfolio-section {
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    min-height: 100vh;
}
